{#
SPDX-FileCopyrightText: 2025 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 spatterlight

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Seerr ({{ seerr_identifier }})
{% for service in seerr_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in seerr_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre={{ devture_systemd_docker_base_host_command_sh }} -c '{{ seerr_container_cleanup_command | trim | replace("\n", " ") }}'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ seerr_identifier }} \
      --log-driver=none \
      --user={{ seerr_uid }}:{{ seerr_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ seerr_container_network }} \
      {% if seerr_container_http_host_bind_port %}
      -p {{ seerr_container_http_host_bind_port }}:{{ seerr_container_http_port }} \
      {% endif %}
      --env-file={{ seerr_base_path }}/env \
      --label-file={{ seerr_base_path }}/labels \
      --mount type=bind,src={{ seerr_data_path }},dst=/app/config \
      {% for volume in seerr_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options | default('') else '' }} \
      {% endfor %}
      --health-cmd "wget --no-verbose --tries=1 --spider http://localhost:{{ seerr_container_http_port }}/api/v1/status || exit 1" \
      --health-start-period 20s \
      --health-timeout 3s \
      --health-interval 15s \
      --health-retries 3 \
      {% for arg in seerr_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ seerr_container_image }}

{% for network in seerr_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ seerr_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ seerr_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ seerr_container_stop_grace_time_seconds }} {{ seerr_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ seerr_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ seerr_identifier }}

[Install]
WantedBy=multi-user.target
